<a href="https://colab.research.google.com/github/Pkahl110/CSC221_pkahl001/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#int()

string_num = "123"
integer_num = int(string_num)
print(f"Converted string '{string_num}' to integer: {integer_num}")

# Convert a float to an integer
float_num = 3.14
integer_from_float = int(float_num)
print(f"Converted float '{float_num}' to integer: {integer_from_float}")

Converted string '123' to integer: 123
Converted float '3.14' to integer: 3

In [5]:
#str()

integer_num = 123
string_from_int = str(integer_num)
print(f"Converted integer '{integer_num}' to string: {string_from_int}")

float_num = 3.14
string_from_float = str(float_num)
print(f"Converted float '{float_num}' to string: {string_from_float}")

Converted integer '123' to string: 123
Converted float '3.14' to string: 3.14

In [6]:
#tuple

# Convert a list to a tuple
my_list = [1, 2, 3, 4, 5]
tuple_from_list = tuple(my_list)
print(f"Converted list '{my_list}' to tuple: {tuple_from_list}")

# Convert a string to a tuple
my_string = "hello"
tuple_from_string = tuple(my_string)
print(f"Converted string '{my_string}' to tuple: {tuple_from_string}")

Converted list '[1, 2, 3, 4, 5]' to tuple: (1, 2, 3, 4, 5)
Converted string 'hello' to tuple: ('h', 'e', 'l', 'l', 'o')

In [7]:
#sum()

#Sum of elements in a list
my_list = [1, 2, 3, 4, 5]
sum_of_list = sum(my_list)
print(f"Sum of elements in the list {my_list}: {sum_of_list}")

#Sum of elements in a tuple
my_tuple = (1, 2, 3, 4, 5)
sum_of_tuple = sum(my_tuple)
print(f"Sum of elements in the tuple {my_tuple}: {sum_of_tuple}")

#Sum of elements in a range
my_range = range(1, 6)
sum_of_range = sum(my_range)
print(f"Sum of elements in the range {list(my_range)}: {sum_of_range}")

Sum of elements in the list [1, 2, 3, 4, 5]: 15
Sum of elements in the tuple (1, 2, 3, 4, 5): 15
Sum of elements in the range [1, 2, 3, 4, 5]: 15

In [9]:
#sorted()

numbers = [5, 2, 7, 1, 8, 3]
sorted_numbers = sorted(numbers)
print("Sorted numbers:", sorted_numbers)

#Sorting a list of strings
words = ["apple", "banana", "orange", "grape", "pineapple"]
sorted_words = sorted(words)
print("Sorted words:", sorted_words)

#Sorting a tuple
tuple_example = (3, 1, 4, 1, 5, 9, 2, 6, 5)
sorted_tuple = sorted(tuple_example)
print("Sorted tuple:", sorted_tuple)

Sorted numbers: [1, 2, 3, 5, 7, 8]
Sorted words: ['apple', 'banana', 'grape', 'orange', 'pineapple']
Sorted tuple: [1, 1, 2, 3, 4, 5, 5, 6, 9]

In [10]:
#print()

name = "Alice"
age = 30
print("Name:", name, "Age:", age)

Name: Alice Age: 30

In [11]:
#object()

class MyClass:
    def __init__(self, name):
        self.name = name

    def greet(self):
        return f"Hello, {self.name}!"

obj1 = MyClass("Alice")

print(obj1.name)
print(obj1.greet())

obj2 = MyClass("Bob")

print(obj2.name)
print(obj2.greet())

Alice
Hello, Alice!
Bob
Hello, Bob!

In [12]:
#locals()

def my_function():
    local_variable = "I am a local variable"
    print("Local variables inside my_function:")
    print(locals())

my_function()

Local variables inside my_function:
{'local_variable': 'I am a local variable'}

In [13]:
#list()

string = "hello"
char_list = list(string)
print("List of characters from string:", char_list)

tuple_example = (1, 2, 3, 4, 5)
list_from_tuple = list(tuple_example)
print("List from tuple:", list_from_tuple)

empty_list = list()
print("Empty list:", empty_list)

List of characters from string: ['h', 'e', 'l', 'l', 'o']
List from tuple: [1, 2, 3, 4, 5]
Empty list: []

In [14]:
#len()

string = "hello"
string_length = len(string)
print("Length of the string:", string_length)

my_list = [1, 2, 3, 4, 5]
list_length = len(my_list)
print("Length of the list:", list_length)

my_tuple = (1, 2, 3, 4, 5)
tuple_length = len(my_tuple)
print("Length of the tuple:", tuple_length)

Length of the string: 5
Length of the list: 5
Length of the tuple: 5

In [15]:
#input()

name = input("Enter your name: ")
print("Hello,", name)

age = int(input("Enter your age: "))
print("You are", age, "years old.")

Enter your name: Paul
Hello, Paul
Enter your age: 19
You are 19 years old.

In [16]:
#float

string_num = "3.14"
float_num = float(string_num)
print("Converted string to float:", float_num)

integer_num = 5
float_from_int = float(integer_num)
print("Converted integer to float:", float_from_int)

boolean_value = True
float_from_bool = float(boolean_value)
print("Converted boolean to float:", float_from_bool)

Converted string to float: 3.14
Converted integer to float: 5.0
Converted boolean to float: 1.0

In [17]:
#dict()

my_dict = dict([('a', 1), ('b', 2), ('c', 3)])
print("Dictionary created from key-value pairs:", my_dict)

my_dict_from_kwargs = dict(a=1, b=2, c=3)
print("Dictionary created using keyword arguments:", my_dict_from_kwargs)

Dictionary created from key-value pairs: {'a': 1, 'b': 2, 'c': 3}
Dictionary created using keyword arguments: {'a': 1, 'b': 2, 'c': 3}

In [18]:
#range()

my_range1 = range(5)
print("Range with stop value 5:", list(my_range1))

my_range2 = range(1, 6)
print("Range with start value 1 and stop value 6:", list(my_range2))

my_range3 = range(1, 10, 2)
print("Range with start value 1, stop value 10, and step value 2:", list(my_range3))

Range with stop value 5: [0, 1, 2, 3, 4]
Range with start value 1 and stop value 6: [1, 2, 3, 4, 5]
Range with start value 1, stop value 10, and step value 2: [1, 3, 5, 7, 9]

In [19]:
#abs

num1 = -10
abs_num1 = abs(num1)
print(f"The absolute value of {num1} is {abs_num1}")

num2 = -3.14
abs_num2 = abs(num2)
print(f"The absolute value of {num2} is {abs_num2}")

The absolute value of -10 is 10
The absolute value of -3.14 is 3.14

In [20]:
#type()

x = 5
print("Type of x:", type(x))

y = 3.14
print("Type of y:", type(y))

z = "hello"
print("Type of z:", type(z))

Type of x: <class 'int'>
Type of y: <class 'float'>
Type of z: <class 'str'>

In [21]:
#max(), min()

numbers = [5, 2, 7, 1, 8, 3]
max_value = max(numbers)
min_value = min(numbers)
print("Maximum value:", max_value)  # Output: 8
print("Minimum value:", min_value)  # Output: 1

Maximum value: 8
Minimum value: 1

In [22]:
#all()

list1 = [True, True, False, True]
result1 = all(list1)
print("All elements in list1 are True:", result1)

tuple1 = (True, True, True, True)
result2 = all(tuple1)
print("All elements in tuple1 are True:", result2)

All elements in list1 are True: False
All elements in tuple1 are True: True

In [23]:
#chr()

ascii_code = 65
character = chr(ascii_code)
print(f"The character corresponding to ASCII code {ascii_code} is '{character}'")

unicode_code_point = 8364
character = chr(unicode_code_point)
print(f"The character corresponding to Unicode code point {unicode_code_point} is '{character}'")

The character corresponding to ASCII code 65 is 'A'
The character corresponding to Unicode code point 8364 is 'â‚¬'