<a href="https://colab.research.google.com/github/Pkahl110/CSC221_pkahl001/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#None
def check_value(value):
    if value is None:
        print("The value is None.")
    else:
        print("The value is not None. It is:", value)

check_value(None)
check_value(10)
check_value("Hello")

The value is None.
The value is not None. It is: 10
The value is not None. It is: Hello

In [2]:
#Break
numbers = [1, 3, 5, 7, 8, 9, 10, 12, 15]

for num in numbers:
    if num % 2 == 0:
        print("The first even number in the list is:", num)
        break

The first even number in the list is: 8

In [3]:
#Except
try:
    num1 = 10
    num2 = 0
    result = num1 / num2
    print("Result of division:", result)  # This line will not be executed if an exception occurs
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Error: Division by zero is not allowed.

In [4]:
#in
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

if "banana" in fruits:
    print("Yes, banana is in the list of fruits.")

if "pear" not in fruits:
    print("No, pear is not in the list of fruits.")

Yes, banana is in the list of fruits.
No, pear is not in the list of fruits.

In [5]:
#raise
def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    elif age < 18:
        raise ValueError("You must be at least 18 years old.")

try:
    validate_age(25)
    print("Age is valid.")
except ValueError as e:
    print("Error:", e)

try:
    validate_age(-5)
    print("Age is valid.")
except ValueError as e:
    print("Error:", e)

try:
    validate_age(15)
    print("Age is valid.")
except ValueError as e:
    print("Error:", e)

Age is valid.
Error: Age cannot be negative.
Error: You must be at least 18 years old.

In [6]:
#False
is_raining = False

if is_raining:
    print("You need an umbrella.")
else:
    print("No need for an umbrella")

No need for an umbrella, enjoy the sunshine!

In [8]:
#await
import time

async def async_task():
    print("Async task started.")
    await custom_sleep(2)  # Simulate a long-running asynchronous operation
    print("Async task completed.")

async def custom_sleep(seconds):
    start_time = time.time()
    while time.time() - start_time < seconds:
        await asyncio.sleep(0)  # Yield control back to the event loop

async def main():
    print("Main function started.")
    await async_task()  # Wait for the asynchronous task to complete
    print("Main function completed.")

# Run the main asynchronous program
await main()

Main function started.
Async task started.
Async task completed.
Main function completed.

In [9]:
#else
x = 5

if x > 10:
    print("x is greater than 10.")
else:
    print("x is not greater than 10.")

# Example of using else with a loop

numbers = [1, 3, 5, 7, 9]

for num in numbers:
    if num % 2 == 0:
        print(num, "is even.")
    else:
        print(num, "is odd.")

x is not greater than 10.
1 is odd.
3 is odd.
5 is odd.
7 is odd.
9 is odd.

In [10]:
#import
import math

print("Square root of 25:", math.sqrt(25))
print("Value of pi:", math.pi)
print("Sine of 90 degrees:", math.sin(math.radians(90)))

Square root of 25: 5.0
Value of pi: 3.141592653589793
Sine of 90 degrees: 1.0

In [11]:
#pass
x = 10

if x > 5:
    print("x is greater than 5.")
else:
    pass


def my_function():
    pass


for i in range(5):
    pass

print("End of program.")

x is greater than 5.
End of program.

In [12]:
#and
x = 10
y = 5

if x > 5 and y < 10:
    print("Both conditions are true.")
else:
    print("At least one condition is false.")

is_sunny = True
is_warm = True

if is_sunny and is_warm:
    print("It's sunny and warm outside.")
else:
    print("The weather is not sunny and warm.")

Both conditions are true.
It's sunny and warm outside.

In [13]:
#Continue
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [14]:
#for
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [15]:
#lambda
def add(x, y):
    return x + y

print("Result of add function:", add(3, 5))

add_lambda = lambda x, y: x + y

print("Result of add lambda function:", add_lambda(3, 5))

Result of add function: 8
Result of add lambda function: 8

In [16]:
#try
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result of division:", result)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Please enter valid integers.")
except Exception as e:
    print("An unexpected error occurred:", e)

Enter a number: 6
Enter another number: 6
Result of division: 1.0

In [17]:
#True
House = True

if is_sunny:
    print("Im in the house.")
else:
    print("Im not in the house.")

Im in the house.

In [18]:
#class
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} barks!")

dog1 = Dog("Buddy", 3)
dog2 = Dog("Max", 5)

print(f"{dog1.name} is {dog1.age} years old.")
dog1.bark()

print(f"{dog2.name} is {dog2.age} years old.")
dog2.bark()

Buddy is 3 years old.
Buddy barks!
Max is 5 years old.
Max barks!

In [19]:
#Finally
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result of division:", result)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Please enter valid integers.")
finally:
    print("This block will always execute, regardless of exceptions.")

Enter a number: 6
Enter another number: 6
Result of division: 1.0
This block will always execute, regardless of exceptions.

In [20]:
#is
list1 = [1, 2, 3]
list2 = [1, 2, 3]

if list1 is list2:
    print("list1 and list2 are the same object.")
else:
    print("list1 and list2 are different objects.")

list1 = list2

if list1 is list2:
    print("Now, list1 and list2 are the same object.")
else:
    print("Now, list1 and list2 are different objects.")

list1 and list2 are different objects.
Now, list1 and list2 are the same object.

In [21]:
#return
def add(x, y):
    result = x + y
    return result

sum_result = add(3, 5)

print("The sum is:", sum_result)

The sum is: 8

In [23]:
#as
import math as main

print("Square root of 25:", math.sqrt(25))

Square root of 25: 5.0

In [24]:
#def
def greet(name):

    print("Hello,", name)

greet("Paul")

Hello, Alice

In [25]:
#from
from math import sqrt

print("Square root of 25:", sqrt(25))

Square root of 25: 5.0

In [26]:
#nonlocal
def outer_function():
    x = 10

    def inner_function():
        nonlocal x
        x = 20

    inner_function()
    print("Value of x after modification in the outer scope:", x)

outer_function()

Value of x after modification in the outer scope: 20

In [27]:
#while
count = 0

while count < 5:
    print("Count:", count)
    count += 1

print("Loop finished.")

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Loop finished.

In [30]:
#elif
x = 10

if x > 10:
    print("x is greater than 10.")
elif x == 10:
    print("x is equal to 10.")
else:
    print("x is less than 10.")

x is equal to 10.

In [31]:
#if
x = 10

if x > 5:
    print("x is greater than 5.")

x is greater than 5.

In [34]:
#not
number = True

if not number:
    print("It's not the number 10.")
else:
    print("It's the number 10.")

It's the number 10.

In [35]:
#with
with open("example.txt", "r") as file:
    # Read the contents of the file
    contents = file.read()
    # Print the contents
    print("Contents of the file:")
    print(contents)

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

In [36]:
#assert
def divide(x, y):
    assert y != 0, "Division by zero is not allowed."
    return x / y

result = divide(10, 2)
print("Result of division:", result)

try:
    divide(10, 0)
except AssertionError as e:
    print("Error:", e)

Result of division: 5.0
Error: Division by zero is not allowed.

In [41]:
#del
my_list = [1, 2, 3, 4, 5]

del my_list[2]

print("List after deleting the third element:", my_list)

List after deleting the third element: [1, 2, 4, 5]

In [42]:
#global
global_var = 10

def modify_global():
    global global_var
    global_var = 20

print("Initial value of global_var:", global_var)

modify_global()

print("Modified value of global_var:", global_var)

Initial value of global_var: 10
Modified value of global_var: 20

In [43]:
#or
x = 5

if x < 0 or x > 10:
    print("x is outside the range [0, 10].")
else:
    print("x is within the range [0, 10].")

x is within the range [0, 10].

In [44]:
def fibonacci():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

fib_gen = fibonacci()

print("First 10 Fibonacci numbers:")
for _ in range(10):
    print(next(fib_gen), end=" ")

First 10 Fibonacci numbers:
0 1 1 2 3 5 8 13 21 34